.intro {
  height: 20vh;
  width: 100vw;
  max-height: 20vh;
  max-width: 100vw;
  background-color: #a3d2ca;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    color: #eb5e0b;
    margin: 0 50px 0;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
  }
}