* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardContainer {
  max-height: 60vh;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  background-color: #5eaaa8;
}

.formContainer {
  height: 80vh;
  width: 100%;
  max-height: 80vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a3d2ca;
}