@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&display=swap');

nav {
  height: 70px;
  width: 100%;
  max-width: 100vw;
  // border: 2px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #eb5e0b;

  h1 {
    -webkit-text-stroke: 1px  #f8f1f1;
    font-family: "Antonio";
    font-size: 60px;
    color: #eb5e0b;
    margin: 0 0 10px;
  }
}

@media only screen and (min-width: 768px) {
  nav {
    height: 85px;

    div {
      h1 {
        display: unset;
        font-size: 1.75em;
      }
    }
  }
}